{% block header %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/content.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/guitar_card.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/header.css') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-rating/bootstrap-rating.css') }}" />
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap-rating/bootstrap-rating.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <title>Guitar Library</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Guitar library</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                {% if app.user != null %}
                    <li><a href="account"><span class="glyphicon glyphicon-user"></span> {{app.user.username}}</a></li>
                    <li><a href="{{ logout_path('main') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                    <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="auth"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
{% endblock %}