<h1>Create Account</h1><br>
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Create account</button>
{{ form_end(form) }}
<label>Already have an account?</label><br>
<a href="http://{{ signInLink }}" >Sign in</a>